.about {
  background-color: white;
  width: 320px;
}

.about__wrapper {
  margin-top: 1020px;
}

.about__slogan {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

.about__features-wrapper {
  background-color: #f2f2f2;
}
