.app-download {
  width: 320px;
  margin-bottom: 34px;
}

.app-download__btn {
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 38px;
  padding-right: 39px;
  border: 2px solid white;
  border-radius: 9px;
  margin-left: 50px;
}
