.burger {
  position: absolute;
  top: -48px;
  right: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;

  &:hover path,
  &:focus path {
    fill: $pink;
  }

  &:active path {
    fill: $down-mobile;
  }
}

@media($desktop) {
  .burger {
    display: none;
  }
}
