.contact__description {
  margin-top: 50px;
  margin-left: 149px;

  &--title {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    line-height: 120%;
  }
}

.contact__wrapper {
  width: 206px;
  margin-left: 57px;
}

.contact__heading {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.contact__content {
  font-size: 24px;
  line-height: 33px;
  font-style: normal;
  text-align: center;
  color: #d22856;
}
