.feature {
  margin-bottom: 43px;
  width: 320px;
}

.feature__title {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.feature__text {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.feature__img {
  padding-left: 82px;
  width: 157px;
}
