.label__name {
  font-size: 14px;
  line-height: 30px;
  font-style: normal;
  text-transform: uppercase;
  color: #d22856;
}

.label__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 63px;
  padding: 14px 20px 15px;
  font: inherit;
  font-size: 18px;
  color: inherit;
  outline: none;
  border: solid 2px #e5e5e5;
  border-radius: 3px;
}
