.page-header {
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom 223px;
  background-size: 700px auto;
  width: 320px;
  position: absolute;
  top: 0;
}

.page-header__photo {
  text-align: center;
}
