.page-footer {
  width: 320px;
}

.logo {
  margin-left: 88px;
  margin-bottom: 41px;
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.social {
  fill: #d22856;
}

.copyright__link {
  fill: #d22856;
}
