.page-header {
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom 223px;
  background-size: 700px auto;
  width: 320px;
  position: absolute;
  top: 0;
}

.burger {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 24px;
  margin-right: 20px;
}

.page-header__photo {
  text-align: center;
}

.intro-slogan {
  color: white;
  font-size: 24px;
  line-height: 33px;
  font-weight: normal;
}

.promo__title {
  margin: 0;
  padding: 32px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  &--heading {
    color: white;
  }
}

.site-list {
  width: 100%;
  margin: 1px 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: inherit;
  border-top: solid 1px #000000;
  list-style: none;
}

.site-list__item {
  padding: 6px 20px;
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  border-bottom: solid 1px #000000;
}

.site-list__link {
  display: inline-block;
  padding: 9px 0;
  line-height: 32px;
  color: #ffffff;
  background-color: inherit;
  text-decoration: none;
  vertical-align: baseline;
}

.app-download {
  width: 320px;
  margin-bottom: 34px;
}

.app-download__btn {
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 38px;
  padding-right: 39px;
  border: 2px solid white;
  border-radius: 9px;
  margin-left: 50px;
}

.link-store {
  display: flex;
  flex-grow: 1;
}

.link-store__description {
  text-align: center;

  &--text {
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
  }
}
