.price {
  position: relative;
  background-color: $light-grey;
  z-index: 1;
}

.price__wrapper {
  position: relative;
  padding: 118px 0 99px 0;
  overflow: hidden;
}

.price__list {
  margin-left: -321px;
  border-collapse: collapse;
}

.price__type {
  padding: 16px 90px 1px 90px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  &--center {
    position: relative;
  }
}

.price__value {
  padding-left: 88px;
  padding-bottom: 18px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  border-bottom: 2px solid $asphalt;
}

.price__type,
.price__value {
  color: $text-head;
  text-transform: uppercase;
  background-color: $asphalt;
  border-right: 2px solid $grey;
  border-left: 2px solid $grey;
}

.price__value p {
  padding: 0;
  margin: 0;
}

.price__set {
  text-align: left;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.price__set,
.price__set-yes,
.price__set-no {
  padding: 0;
  border-right: 2px solid $grey;
  border-bottom: 2px solid $grey;
  border-left: 2px solid $grey;
  background-color: $text-head;
}

.price__set-yes {
  position: relative;
  background-image: url("../img/icon-yes.svg");
  background-position: 230px center;
  background-repeat: no-repeat;
  background-size: 31px 21px;
}

.price__set-no {
  position: relative;
  background-image: url("../img/icon-no.svg");
  background-position: 228px center;
  background-repeat: no-repeat;
  background-size: 31px 27px;
}

.price__set-pink {
  &::before {
    content: "Розовый фильтр";
  }
}

.price__set-smile {
  &::before {
    content: "Смайлики";
  }
}

.price__set-com {
  &::before {
    content: "Комментарии";
  }
}

.price__set-pink,
.price__set-smile,
.price__set-com {
  padding-bottom: 59px;

  &::before {
    position: absolute;
    top: 15px;
    left: 21px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: $asphalt;
  }
}

.price__toggle {
  position: absolute;
  bottom: 43px;
  left: 132px;
  padding: 0;
  margin: 0;
}

.price__hit {
  position: absolute;
  top: 0;
  left: -2px;
  width: 74px;
  height: 73px;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.price__hit-text {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $text-head;
  transform: rotate(-45deg);
}

@media ($tablet) {
  .price__toggle {
    display: none;
  }

  .price__list {
    margin-left: 1px;
  }

  .price__wrapper {
    box-sizing: border-box;
    padding: 95px 20px 68px 20px;
    margin: 0 auto;
    max-width: 660px;
  }

  .price__type {
    padding: 12px 0 0 2px;
    width: 150px;
    font-size: 16px;
    text-align: center;

    &--left {
      border-left: 2px solid $asphalt;
    }

    &--right {
      width: 151px;
      border-right: 2px solid $asphalt;
    }
  }

  .price__value {
    padding-left: 2px;
    padding-bottom: 14px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

    &--left {
      border-left: 2px solid $asphalt;
    }

    &--center {
      padding-left: 1px;
    }

    &--right {
      border-right: 2px solid $asphalt;
    }
  }

  .price__set {
    padding: 7px 25px 8px 14px;
    min-width: 112px;
    line-height: 30px;
    text-transform: none;

    &--border {
      border-top: 2px solid $grey;
    }
  }

  .price__set-yes {
    padding: 0;
    background-image: url("../img/icon-yes.svg");
    background-position: center;
  }

  .price__set-no {
    padding: 0;
    background-image: url("../img/icon-no.svg");
    background-position: center;
  }

  .price__set-pink,
  .price__set-smile,
  .price__set-com {
    &::before {
      content: "";
    }
  }

  .price__hit {
    left: 0;
    width: 61px;
    height: 61px;
    background-image: url("../img/bg-hit-tablet.svg");
  }

  .price__hit-text {
    top: -6px;
    left: 7px;
  }
}

@media ($desktop) {
  .price__wrapper {
    padding: 149px 10px 95px 10px;
    max-width: 960px;
  }

  .price__list {
    margin-left: -1px;
  }

  .price__type {
    padding: 16px 0 6px 2px;
    width: 231px;
    font-size: 18px;

    &--center {
      padding-left: 1px;
    }
  }

  .price__valuet {
    padding-left: 4px;
    padding-bottom: 23px;
    font-size: 24px;

    &--center {
      padding-left: 1px;
    }
  }

  .price__set {
    padding: 14px 45px 15px 23px;
    min-width: 166px;
    font-size: 18px;
  }

  .price__hit {
    left: 0;
    width: 74px;
    height: 73px;
    background-image: url("../img/bg-hit.svg");
  }

  .price__hit-text {
    top: 2px;
    left: 10px;
  }
}
