.promo {
  text-align: center;
}

.promo__slogan {
  padding: 0;
  padding-top: 23px;
  margin: 0 auto;
  width: 225px;
  line-height: 29px;
  font-size: 24px;
  font-weight: 300;
}

.promo__image {
  padding-top: 28px;
  margin-left: -62px;
}

.promo__download {
  margin: -7px 0 0 2px;
  padding: 28px 21px 30px 19px;
  width: 280px;
  text-align: center;
  background-color: $asphalt;
}

.promo__link {
  display: block;
  padding: 17px 24px 16px 27px;
  width: 222px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $text-head;
  border: 3px solid $text-head;
  border-radius: 100px;

  &:hover,
  &:focus {
    color: $pink;
    background-color: $text-head;
  }

  &:active {
    color: $down-mobile;
    background-color: $text-head;
  }
}

.promo__list {
  margin: 31px 0 11px 0;
}

.promo__text {
  padding-top: 8px;
  padding-left: 20px;
  margin: 0;
  width: 240px;
  font-weight: 300;
}

@media ($tablet) {
  .promo {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .promo__slogan {
    padding-top: 93px;
    margin: 0;
    margin-left: 58px;
    font-size: 40px;
    line-height: 48px;
    z-index: 1;
  }

  .promo__image {
    position: absolute;
    display: block;
    top: 73px;
    right: 7px;
    padding: 0;
    margin: 0;
    width: 517px;
    height: 545px;
  }

  .promo__download {
    padding: 34px 20px 125px 20px;
    margin-left: 0;
    background-color: transparent;
    z-index: 1;
  }

  .promo__link {
    padding: 16px 38px 15px 36px;
    width: 220px;
    margin-top: 3px;
  }

  .promo__list {
    margin: 45px 0 0 8px;
  }

  .promo__text {
    padding-top: 31px;
    padding-left: 0;
    margin-left: -4px;
    width: 308px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media ($desktop) {
  .promo {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 130px;
  }

  .promo__slogan {
    padding-top: 105px;
    margin: 0;
    margin-left: 30px;
    width: 241px;
    font-size: 50px;
    line-height: 60px;
  }

  .promo__image {
    top: 99px;
    right: 143px;
    width: 634px;
    height: 645px;
  }

  .promo__download {
    padding: 59px 20px 122px 0;
  }

  .promo__link {
    padding: 14px 28px 17px 29px;
    width: 237px;
    font-size: 21px;
  }

  .promo__list {
    margin: 66px 0 0 8px;
  }

  .promo__text {
    padding-top: 54px;
    padding-left: 0;
    margin-left: -4px;
    width: 308px;
    font-size: 18px;
    line-height: 24px;
  }
}
